<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="my-cordova-plugin"
    version="1.0.0">
    <name>Cordova Plugin Facetec</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/EdgarFabiano/cordova-plugin-facetec.git</repo>
    <issue>https://github.com/EdgarFabiano/cordova-plugin-facetec/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.FacetecCordovaPlugin -->
        <clobbers target="FacetecCordovaPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="FacetecCordovaPlugin">
          <param name="android-package" value="com.example.FacetecCordovaPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/FacetecCordovaPlugin.java" target-dir="src/com/example/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="FacetecCordovaPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="FacetecCordovaPlugin">
                <param name="ios-package" value="FacetecCordovaPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/FacetecCordovaPlugin.h" />
        <source-file src="src/ios/FacetecCordovaPlugin.m" />
    </platform>
</plugin>
